@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --light-color: #ffffff;
  --background-color: #f5f5f5;
  --border-color: #eeeeee;
  --font-color: #333333;
  --inactive-color: #888888;
  --accent-color: #0eb5f7;
  font-family: "Roboto", serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--light-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  padding: 0.4rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: var(--accent-color);
  background-color: var(--light-color);
  cursor: pointer;
  transition: border-color 0.3s;
}

button:hover {
  border-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

.avatar {
  display: flex;
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}

.main {
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--font-color);
  border: 2px solid var(--border-color);
}

.header__upper-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.search {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border: none;
  border-radius: 20px;
  background-color: var(--light-color);
  font-family: inherit;
  font-size: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>');
  background-size: 24px 24px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
}

.search::placeholder {
  color: var(--inactive-color);
}